.navbar{
    width: 100%;
    position: sticky;
    background: var(--black);
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
}
.navbar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin: -10px 30px ;
}
.nav-list{
    display: flex;
}
.nav-item a{
    font-size: 1rem;
    padding-right: 1.5rem;
}
.nav-buttons{
    display: flex;
}
.nav-buttons .btn-1{
    margin-right: 1rem;
}


@media screen and (max-width: 1000px) {
.nav-links{
    display: none;
}
.nav-buttons .btn-2{
    display: none;
}
.navbar-row{
    margin: -10px 0px;
}
.navbar{
    min-width: 100%;
}
/* .nav-buttons .btn-1{
    margin-right: 1rem;
} */
.btn-light{
    padding: 0;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
}

}

